* {
  margin: 0;
  padding: 0;
}

.card {
  width: 20vh;
  height: 15vh;
  padding: 50px;
  margin: 20px auto;
  border: 1px solid pink;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
