* {
  margin: 0;
  padding: 0;
}

.boxs div {
  width: 20vh;
  height: 20vh;
  margin: 50px auto;
  border: 1px solid pink;
}

.boxs {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
